<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Cast</title>
</head>
<body>
    <h1>Tambah Cast</h1>
    <a href="/casts">List Data Casts</a><br><br>
    <form action="/casts/add" method="post">
        First Name : <br><input type="text" name="first_name"><br><br>
        Last Name : <br><input type="text" name="last_name"><br><br>
        Birth Year : <br><input type="text" name="birth_year"><br><br>
        Phone Number : <br><input type="text" name="phone_number"><br><br>
        Gender : <br>
        <input type="radio" name="gender" value="male">
            <label for="male">Male</label>
        <input type="radio" name="gender" value="female">
            <label for="female">Female</label><br><br>
        <button type="submit">Submit</button>
    </form>
    <hr>
</body>
</html>